.container {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.filePreview {
  width: 100%;
  height: 100%;
  align-content: center;
}

.noPreview{
  border: 5px solid red;
  align-self: center;
}