.form {
  display: flex;
  width: 100%;
  justify-self: center;
  //border: 2px solid red;
}

.paper {
  padding: 10px;
}

.input {
  margin: 10px;
  justify-items: flex-start;
}

.select {
  margin: 10px;
  justify-items: flex-start;
}

.submit {
  margin: 0 auto;
  align-self: center;
  justify-self: stretch;
}