
.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.loginFormContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.loginInput {
  width: 500px;
}

.loginButton {
  background-color:  white;
  border: 1px solid blueviolet;
  border-radius: 10px;
  color: blueviolet;
  height: 45px;
  width: 150px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: blueviolet;
    color: white;
  }
}

.loginButtonContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerButton {
  color: blue;
  font-size: 18px;
}

.registerButtonContainer {
  padding-top: 20px;
}

.googleButtonContainer {
  padding-top: 40px;
}

.googleButton {
  background-color:  #de5246;
  border-radius: 10px;
  height: 45px;
  width: 200px;
}

.googleButtonText{
  color: white;
  font-size: 15px;
}
