.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.profilePic {
  width: 170px;
  height: 170px;
  padding-bottom: 10px;
  border-radius: 100px;
}

.registerFormContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.registerButton {
  background-color:  white;
  border: 1px solid blueviolet;
  border-radius: 10px;
  color: blueviolet;
  height: 45px;
  width: 150px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: blueviolet;
    color: white;
  }
}

.registerButtonContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  position: fixed;
  left: 45%;
  top: 40%;
}
