
.mainContentDiv {
  display: flex;
  justify-content: space-between;
  //flex: auto;
  //align-items: stretch;
}

.infoBar {
  background-color: #AAAAAA;
  border-radius: 8px;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  //align-items: flex-end;
  //justify-content: flex-end;
  //align-items: flex-end;
  //border: 5px solid #de5246;
}

.treeIcon {
  justify-self: flex-start;
}

.infoIcon {
  justify-self: flex-end;
}

.contentCard {
  width: 500px;
}

.cardsContainer {
  //border: 5px solid #de5246;
  display: flex;
  flex: 6;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
}

.filePreview {
  //border:10px dashed darkcyan;
  flex: 3;
  justify-content: center;
  height: 60vh;
  width: 100%;
}

.setPermissions {
  margin: 10px;
  width: 100%;
  alignment: center;
}

.treeView {
  //border:10px dashed darkcyan;
  flex: 1;
  display: flex;
  //justify-content: center;
  height: 80vh;
  width: 100%;
  border-right: 0.3px solid rgb(219, 215, 215);
}

.paper {
  height: 500px;
  width: 100%;
}

.fileOwnership {
  height: 400px;
  overflow: auto;
  margin-top: 20px;
}

.iconsCreditsDiv {
  background-color: #999999;
  text-align: center;
  margin: auto;
  padding: 7px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.folder {
  width: 180px;
  height: 175px;
  padding-left: 10px;
  padding-top: 0px;
}

.folderBox{
  width: 200px;
  height: 380px;
}

.folderName {
  font-size: 23px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.folderContainer {
  height: 260;
  width: 200;
  margin-top: 70px;
  &:hover {
    background-color: rgb(225, 224, 226);
  }
}

.loader {
  position: fixed;
  left: 45%;
  top: 40%;
}

.title {
  font-size: 23px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}
