.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-self: center;
  align-self: center;
  margin: 75px auto auto;
  padding: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: auto;
  align-self: center;
  justify-self: center;
}

.paper {
  width: 400px;
  justify-self: center;
  align-self: center;
  margin: auto;
  border: 13px #de5246 solid;
  padding: 100px;
}